<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:name=".ObsoleteApplication"
    android:allowBackup="true"
    android:hardwareAccelerated="true"
    android:icon="@drawable/common_ic_github"
    android:label="Obsolete"
    android:supportsRtl="true"
    android:theme="@style/CommonAppTheme"
    tools:ignore="MipmapIcons">

  </application>

</manifest>
