.classpath
.DS_Store
.externalNativeBuild
.gradle
.idea
.idea/
.mtj.tmp/
.project
.vscode/
*.class
*.ctxt
*.ear
*.iml
*.jar
*.keystore
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
/.idea
/.settings
/app/.settings
/build
/captures
/local.properties
/objectbox-models
build
gen
hs_err_pid*
local.properties
maven-repository
mvn-clone
objectbox-models
out
out/
target