<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.goooler.demoapp.map">

  <application>

    <activity
      android:name=".ui.MapActivity"
      android:launchMode="singleTop" />

    <meta-data
      android:name="com.amap.api.v2.apikey"
      android:value="@{amap_key}" />

  </application>

</manifest>